<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.coal.mapper.ContractMapper">

    <!-- 分页查询合同 多表查询-->
    <select id="contractPage" resultType="com.zm.coal.entity.Contract">
        select
        c.*,
        a.real_name,
        u.customer_name,
		p.product_name,
		p.price
        from contract c
        inner join account a on c.account_id= a.account_id
        inner join customer u on c.customer_id=u.customer_id
        inner join product p on c.product_id=p.product_id
        ${ew.customSqlSegment}
    </select>
</mapper>
