<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.coal.mapper.SaleMapper">

    <!-- 分页查询合同 多表查询-->
    <select id="salePage" resultType="com.zm.coal.entity.Sale">
        select
            c.contract_name,
            c.amount,
            c.total,
            p.price,
            p.product_name,
            p.p_total,
            s.*
        FROM sale s
        INNER JOIN contract c ON s.contract_id= c.contract_id
        INNER JOIN product p ON p.product_id=c.product_id
        ${ew.customSqlSegment}
    </select>
<!--产品的总销售量、总销售额、-->
    <select id="echarsListSelectAll" resultType="com.zm.coal.entity.Sale">
        select
            s.sale_id,
            s.leave_time,
            t.product_name,
            sum(t.amount) amount,
            sum(t.total) total,
            sum(s.profit) profit,
            SUM(s.taxes)taxes,
            t.product_id
        from sale s
        INNER JOIN
        (
	        SELECT c.contract_id,p.product_name ,p.product_id,p.price,c.amount,c.total
            FROM product p
            INNER JOIN contract c
            ON c.product_id=p.product_id
        )t
        on t.contract_id=s.contract_id
        GROUP BY t.product_id;
    </select>
<!--    日纳税-利润-->
    <select id="echarsListSelect" resultType="com.zm.coal.entity.Sale">
        select
            DATE_FORMAT(s.leave_time,'%Y-%m-%d') days,
            count(s.sale_id) count,
            s.contract_id,
            s.leave_time,
            SUM(s.taxes) taxes,
            SUM(s.profit) profit,
            a.*
        from sale s
        inner JOIN contract c
        on c.contract_id=s.contract_id
        INNER JOIN (
            SELECT c.contract_id,p.product_name ,p.price,c.amount,c.total
            FROM product p
            INNER JOIN contract c
            ON c.product_id=p.product_id
        ) a
        ON a.contract_id=s.contract_id
        group by days
        order by s.leave_time   ASC
    </select>
<!--    产品各种类的月销售量-->
    <select id="echarsListSelectMonth" resultType="com.zm.coal.entity.Sale">
        select
            s.sale_id,
            s.leave_time,
            t.product_name,
            sum(t.amount) amount,
            t.product_id
        from sale s
        INNER JOIN
        (
	        SELECT c.contract_id,p.product_name ,p.product_id,p.price,c.amount,c.total
            FROM product p
            INNER JOIN contract c
            ON c.product_id=p.product_id
        )t
        on t.contract_id=s.contract_id
        where date_format(leave_time,'%Y%m')=date_format(curtime(),'%Y%m')
        GROUP BY t.product_id;
    </select>
    <select id="echarsListSelectYear" resultType="com.zm.coal.entity.Sale">
        select
            s.sale_id,
            s.leave_time,
            t.product_name,
            sum(t.amount) amount,
            t.product_id
        from sale s
        INNER JOIN
        (
	        SELECT c.contract_id,p.product_name ,p.product_id,p.price,c.amount,c.total
            FROM product p
            INNER JOIN contract c
            ON c.product_id=p.product_id
        )t
        on t.contract_id=s.contract_id
        where date_format(leave_time,'%Y')=date_format(curtime(),'%Y')
        GROUP BY t.product_id;
    </select>
</mapper>
