<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/public.css}">
</head>
<body>
<form class="layui-form " id="addForm" method="post" th:action="@{/sale}" style="margin-top: 20px;margin-left: 8%">
    <div class="layui-form-item">
        <label class="layui-form-label required">合同编号</label>
        <div class="layui-input-inline" th:object="${contracts}">
            <input type="text" name="contractId" autocomplete="off" class="layui-input"
                   lay-verify="required" maxlength="20" th:value="*{contractCode}">
            <input type="number" name="contractId"  autocomplete="off" class="layui-input"
                   lay-verify="len" th:value="*{contractId}" maxlength="50" style="display:none">
            <input type="number" name="amount" id="amount" autocomplete="off" class="layui-input"
                   lay-verify="len" th:value="*{amount}" maxlength="50" style="display:none">
            <input type="number" name="price" th:value="*{price}" id="price" autocomplete="off" class="layui-input"
                   lay-verify="len" maxlength="50"style="display:none">
            <input type="number" name="total" th:value="*{total}" id="total" autocomplete="off" class="layui-input"
                   lay-verify="len" maxlength="50" style="display:none">
        </div>
        <label class="layui-form-label required">车牌号</label>
        <div class="layui-input-inline">
            <input type="text" name="carCode" placeholder="请输入车牌号" autocomplete="off" class="layui-input"
                   lay-verify="required" maxlength="20">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">司机姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="driverName" placeholder="请输入司机姓名"
                   autocomplete="off" class="layui-input" lay-verify="required" maxlength="20">
        </div>
        <label class="layui-form-label required">手机号码</label>
        <div class="layui-input-inline">
            <input type="text" name="driverPhone" placeholder="请输入手机号码" autocomplete="off" class="layui-input"
                   lay-verify="phone" maxlength="50">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">车皮重量</label>
        <div class="layui-input-inline">
            <input id="car" name="carWeigth" placeholder="请输入车皮重量" autocomplete="off" class="layui-input"
                   lay-verify="number" maxlength="50"><span style="position: absolute;top: 9px;left: 200px">吨</span>
        </div>
        <label class="layui-form-label required">产品利润</label>
        <div class="layui-input-inline">
            <input  id="profit" name="profit" autocomplete="off" class="layui-input"
                   lay-verify="number" maxlength="100" readonly="readonly"><span style="position: absolute;top: 9px;left: 200px">元</span>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">产品实际纳税</label>
        <div class="layui-input-inline">
            <input type="number" name="taxes" id="taxes" autocomplete="off" readonly="readonly"
                   class="layui-input" lay-verify="number" maxlength="100"><span style="position: absolute;top: 9px;left: 200px">元</span>
        </div>
        <label class="layui-form-label required">总重量</label>
        <div class="layui-input-inline">
            <input type="number" id="weight" name="totalWeigtht" autocomplete="off" class="layui-input" readonly="readonly"
                   lay-verify="number" maxlength="100"><span style="position: absolute;top: 9px;left: 200px">吨</span>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">出厂时间</label>
        <div class="layui-input-inline">
            <input autocomplete="off" name="leaveTime" id="leaveTime" class="layui-input" placeholder="出厂时间">
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 30px;margin-left: 18%">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="addSubmit">立即提交</button>
        </div>
    </div>
</form>
<script>
    /**
     * 日期时间选择器
     * 出厂时间
     * type datetime 表示是日期时间
     * trigger 自定义弹出控件的事件
     *     类型：String，默认值：focus，如果绑定的元素非输入框，则默认事件为：click
     */
    laydate.render({
        elem: '#leaveTime'
        , type: 'datetime'
        , trigger: 'click'
        , format: 'yyyy-MM-dd HH:mm:ss'
    });
</script>
<script>
    /**
     * 纳税
     * 实际纳税=(单价-单价/1.6)/1.13*13%*数量
     *
     *  利润=总价-单价/1.6*数量-实际纳税
     */
    var price = $("#price").val();//单价
    var total = $("#total").val();//总价
    var amount = $("#amount").val();//总数量
    var taxes, profit;

    console.log("单价" + price);
    console.log("总价" + total / 10000);
    console.log("总数量" + amount);

    taxes = (price - price / 1.6) / 1.13 * 0.13 * amount;
    profit = total - (price - price / 1.6) * amount - taxes;
    console.log("纳税" + parseFloat(taxes));
    console.log("利润" + parseFloat(profit) / 10000);
    document.getElementById("taxes").value =  parseFloat(taxes).toFixed(2);
    document.getElementById("profit").value = parseFloat(profit).toFixed(2);

    /**
     *总重量（车皮+货品）
     * 根据你对车皮重量的输入，动态的计算总重量并且进行赋值显示
     */
    $("#car").bind('input porpertychange', function () {
        var car = $("#car").val();
        var weight = parseFloat(amount) + parseInt(car);
        document.getElementById("weight").value = weight;
        console.log(weight);
    })
</script>
</body>
</html>