<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<!--     <div id="main" style="width: 700px;height:500px;"></div>-->

<div class="layui-container">
    <div class="layui-row">
        <div id="main01" style="width: 70%;margin-top:30px;height:500px;" class="layui-col-md9">  </div>
        <div class="layui-col-md3" style="width: 30%; height: 500px; padding: 14% 2%">
            <h1 class="site-h1" style="margin-bottom: 20px">煤炭各种类产品的<br>月销售量</h1>
            <blockquote style="padding: 15px;line-height: 30px;border-top: 5px solid #5470c6;">
                根据出厂时间来统计本月中各个产品的销售量
            </blockquote>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/layui/layui.all.js}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
<!--<script th:src="@{/js/echarts.min.js}"></script>-->
<script th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart01 = echarts.init(document.getElementById('main01'));

    var echarsList = {
        data: [
            [# th:each = "echart:${echarsListMonth}"]
                [[${echart}]],
             [/]
        ]
    };
    console.log(echarsList);
    console.log(typeof echarsList);
    console.log(echarsList.data.length);
    var pName = [];//产品名称
    var pAmount = [];//产品数量
    for (let i = 0; i < echarsList.data.length; i++) {
        console.log(echarsList.data[i]);
        pName.push(echarsList.data[i].productName.substring(0,echarsList.data[i].productName.lastIndexOf("(")));
        pAmount.push(echarsList.data[i].amount);
    }
    console.log(pName);
    console.log(pAmount);

    var option01 = {
        title: {
            text: '产品的月销售量',
            subtext: '煤炭各种类产品的月销售量',
            left: 'center'
        },
        toolbox: {
            show: true,
            feature: {
                saveAsImage: {
                    show:true,
                    excludeComponents :['toolbox'],
                    pixelRatio: 2
                }
            }
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            data: [pName[0],pName[1],pName[2], pName[3],pName[4],pName[5],pName[6],pName[7],pName[8],pName[9],pName[10]]
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, 0.01],
            axisLabel: {
                formatter: '{value} 吨'
            }
        },
        series: [
            {
                name: '销售量',
                type: 'bar',
                itemStyle: {
                    opacity: 0.8,
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(255, 191, 0)'
                    }, {
                        offset: 1,
                        color: 'rgba(224, 62, 76)'
                    }])
                },
                data: [pAmount[0],pAmount[1],pAmount[2],pAmount[3],pAmount[4],pAmount[5],pAmount[6],pAmount[7],pAmount[8],pAmount[9],pAmount[10]]
            }
        ]

    };
    myChart01.setOption(option01);
</script>
</body>
</html>