
/**搜索框*/
.bannerTop{
    margin: 10px 10px 10px 10px;
    border: 1px solid #e6e6e6;
    padding: 10px 10px 0px 10px;
    color: #6b6b6b;
}
/**add表格 必填红点 */
.layui-form > .layui-form-item > .required:after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}