<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>煤炭销售管理系统</title>
    <link rel="icon" th:href="@{/img/logo1.png}" sizes="32x32">
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}">
    <style>
        #test1 {
            width: 100% !important;
            height: 550px !important;
        }

        #test1 img {
            width: 100%;
            height: 100%;
        }
    </style>

</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            <img th:src="@{/img/logo1.png}" alt="" style="width: 25%;margin:0px 6px 0px 11px;">
            <span style="font-size: 16px;">煤炭销售管理系统</span>
        </div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="javascript:;">
                <span th:text="${session.account.realName}"></span>
                <input id="myId" th:value="${session.account.accountId}" style="display: none;"></input>
            </a>
                <!--                <dl class="layui-nav-child">-->
                <!--                    <dd>-->
                <!--                        <a onclick="update()">基本资料</a>-->
                <!--                    </dd>-->
                <!--                    <dd>-->
                <!--                        <a onclick="update()">修改密码</a>-->
                <!--                    </dd>-->
                <!--                </dl>-->
            </li>
            <li class="layui-nav-item"><a th:href="@{/auth/logout}">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed" th:each="resource:${resource}">
                    <a class="" href="javascript:;" th:text="${resource.resourceName}"></a>
                    <dl class="layui-nav-child" th:if="${resource.subs} ne null" th:each="sub:${resource.subs}">
                        <dd><a
                                th:href="'javascript:showTab(\''+${sub.url}+'\',\''+${sub.resourceName}+'\','+${sub.resourceId}+');'"
                                th:text="${sub.resourceName}"></a></dd>
                    </dl>
                </li>
<!--                <li class="layui-nav-item">-->
<!--                    <a href="">-->
<!--                        <i class="layui-icon layui-icon-list"></i>-->
<!--                        <span>销售规则&商品简介</span>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-tab" lay-filter="menu" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li class="layui-this">欢迎页</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-carousel" id="test1" lay-filter="test1">
                        <div carousel-item>
                            <div><img th:src="@{/img/banner2.jpeg}" alt=""></div>
                            <div><img th:src="@{/img/banner1.jpg}" alt=""></div>
                            <div><img th:src="@{/img/banner2.jpg}" alt=""></div>
                            <div><img th:src="@{/img/banner1.jpeg}" alt=""></div>
                            <div><img th:src="@{/img/banner3.jpeg}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © Zhu Mei - 煤炭销售管理系统
    </div>
</div>
<script th:src="@{/webjars/layui/layui.all.js}"></script>
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/js/login/main.js}"></script>
<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '100%' //设置容器宽度
            ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
            ,interval:3000
        });
    });
</script>
</body>

</html>