<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/public.css}">
</head>
<body>
<form class="layui-form " id="addForm" method="post" th:action="@{/contract}">
    <div class="layui-form-item">
        <label class="layui-form-label required">合同编号</label>
        <div class="layui-input-block">
            <input type="text" name="contractCode" placeholder="请输入合同编号" autocomplete="off" class="layui-input"
                   lay-verify="required" maxlength="20">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">客户姓名</label>
        <div class="layui-input-block">
            <select name="customerId" lay-verify="required">
                <option value="">--请选择--</option>
                <option value="" th:each="customer:${customers}" th:value="${customer.customerId}"
                        th:text="${customer.customerName}">
                </option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">合同名称</label>
        <div class="layui-input-block">
            <input type="text" name="contractName" placeholder="请输入合同名称" autocomplete="off" class="layui-input"
                   lay-verify="required" maxlength="50">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">销售人</label>
        <div class="layui-input-block">
            <select name="accountId" lay-verify="required">
                <option value="">--请选择销售人--</option>
                <option value="" th:each="account:${accounts}" th:value="${account.accountId}"
                        th:text="${account.realName}">--请选择--
                </option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">产品名称</label>
        <div class="layui-input-block">
            <select name="productId" lay-verify="required" lay-filter="chiocePayway">
                <option value="">--请选择产品--</option>
                <option th:each="product:${products}" th:value="${product.productId}"
                        th:text="${product.productName}">--请选择--
                    <input id="productName" th:value="${products}" hidden>
                </option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">产品总数量</label>
        <div class="layui-input-block">
            <input type="number" name="amount" placeholder="请输入产品总数量" autocomplete="off" class="layui-input"
                   lay-verify="len" id="zong" onkeyup="sum();" maxlength="100">吨
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">产品单价</label>
        <div class="layui-input-block">
            <input type="number" name="price" placeholder="请输入产品单价" autocomplete="off" class="layui-input"
                   lay-verify="len" id="dan"
                   maxlength="100">元/吨
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">产品总价</label>
        <div class="layui-input-block">
            <input type="number" name="total" placeholder="请输入产品总价" autocomplete="off" class="layui-input"
                   lay-verify="len" id="he"
                   maxlength="100">元
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">合同有效期范围</label>
        <div class="layui-input-inline">
            <input autocomplete="off" name="effectiveTime" id="effectiveTime" class="layui-input" placeholder="合同有效开始日">
        </div>
        <div class="layui-input-inline">
            <input autocomplete="off" type="text" name="expireTime" id="expireTime" class="layui-input"
                   placeholder="合同有效截止日">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="addSubmit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    /**
     * 日期时间选择器
     * 分别是创建时间，有效时间和到期时间
     * type datetime 表示是日期时间
     * trigger 自定义弹出控件的事件
     *     类型：String，默认值：focus，如果绑定的元素非输入框，则默认事件为：click
     */
    laydate.render({
        elem: '#createTime'
        , type: 'datetime'
        , trigger: 'click'
        , format: 'yyyy-MM-dd HH:mm:ss'
    });
    laydate.render({
        elem: '#effectiveTime'
        , type: 'datetime'
        , trigger: 'click'
        , format: 'yyyy-MM-dd HH:mm:ss'
    });
    laydate.render({
        elem: '#expireTime'
        , type: 'datetime'
        , trigger: 'click'
        , format: 'yyyy-MM-dd HH:mm:ss'
    });
</script>

<script th:inline="javascript">
    /**
     * 通过js获取thymleaf从后台传到前台的值
     * <script th:inline="javascript">
     *      var msg = [[${products}]];
     * products绑定的是html中 <input id="productName" th:value="${products}" hidden>
     *     msg是一个对象数组，我再通过for循环msg[i].XX 来获取id与用户所选择的产品id进行匹配
     *     进而获取产品的单价price，然后↓↓↓
     *
     * 监听select选项
     * 通过 加监听<select lay-verify="required" lay-filter="chiocePayway" >
     *     在通过js： form.on('select(chiocePayway)', function (data) {}）
     * 页面加载完执行监听用户所选择的产品id，并实时通过商品的改变来更新商品的单价
     */
    var msg = [[${products}]];
    layui.use(['form'], function () {
        var form = layui.form;
        form.on('select(chiocePayway)', function (data) {
            // layui.layer.msg(data.value);//得到被选中的值
            console.log("valID:" + data.value);
            for (let i = 0; i < msg.length; i++) {
                console.log("productID" + msg[i].productId);
                if (msg[i].productId == data.value) {
                    document.getElementById("dan").value = msg[i].price;
                    console.log(msg[i].price);
                }
            }
        })
    });
</script>
<script>

    /**
     * 判断商品单价和数量是否不为空，成立时自动计算商品总金额，并更新到输入框中
     * 装车费5元/吨，运费100元/吨，卸车费5元/吨，
     * 商品总金额=（单价+110）*总数量
     */
    function sum() {
        if ($("#dan").val() != '' && $("#zong").val() != '') {
            document.getElementById("he").value = ($("#dan").val() + 110) * $("#zong").val();
        }
    }

</script>
</body>
</html>