<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form class="layui-form" id="addForm" method="post" th:action="@{/role}" style="margin-top: 30px;">
    <div class="layui-form-item">
        <label class="layui-form-label required">角色名称</label>
        <div class="layui-input-inline">
            <input type="text" name="roleName" placeholder="角色名称"
                   autocomplete="off" class="layui-input" lay-verify="required" maxlength="50">
        </div>
		<label class="layui-form-label required">备注</label>
		<div class="layui-input-inline" style="width: 300px">
			<input type="text" name="remark" placeholder="备注"
				   autocomplete="off" class="layui-input" maxlength="200">
		</div>
	</div>
	<div class="layui-form-item">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">资源</label>
        <div class="layui-input-inline">
            <div id="resource"></div>
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 40px;margin-left: 20%">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="addSubmit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
</html>